body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    min-height: 100vh; /* 确保容器高度至少为视口高度 */
}

.main {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

/* 表单样式 */
.main form {
    max-width: 95%; /* 确保表单不会超出主内容区域宽度 */
    margin: 0 auto; /* 水平居中 */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 表单元素样式 */
.main form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.main form input[type="text"],
.main form textarea {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

.main form textarea {
    height: 250px;
    resize: vertical; /* 允许垂直调整大小 */
}

.main form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.main form button:hover {
    background-color: #0056b3; /* 鼠标悬停时改变背景色 */
}