<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>matching</title>
</head>
<body>
<div class="matching-question">
    <div class="left-options">
        {% for option in sub_question.matchingOptions.all %}
        <div class="option">
            <input type="hidden" name="left_option_{{ option.id }}" value="{{ option.id }}">
            <label>{{ option.option_label }}. {{ option.option_content }}</label>
        </div>
        {% endfor %}
    </div>
    <div class="right-options">
        {% for option in sub_question.matchingOptions.all %}
        <div class="option">
            <input type="hidden" name="right_option_{{ option.id }}" value="{{ option.id }}">
            <label>{{ option.option_label }}. {{ option.option_content }}</label>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>