# Django 閰嶇疆
# 澶嶅埗姝ゆ枃浠朵负 .env 骞朵慨鏀逛负浣犵殑瀹為檯閰嶇疆
# 娉ㄦ剰锛?env 鏂囦欢涓嶄細琚彁浜ゅ埌Git锛堝凡鍦?gitignore涓級

# 鏁版嵁搴撻厤缃甡nDB_NAME=day0425
DB_USER=root
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=3306

# Django 瀹夊叏閰嶇疆
# 鐢熶骇鐜璇峰姟蹇呬慨鏀?SECRET_KEY
SECRET_KEY=django-insecure-k1ofy%53p55+ghbswfn(6c6jjcihx_7#q4e#d7gt&$5)cn$cau
DEBUG=True
