{% extends "query_base.html" %}
{% load query_custom_filters %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <style>
        /* 模态背景遮罩层 */
        #late-score-modal {
            position: fixed; /* 固定定位 */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            overflow: auto;
        }
        /* 模态框内容 */
        #late-score-modal form {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 300px;
            max-width: 90%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: 40%;
            margin-top: 15%
        }
        .chart-container {
            margin-bottom: 30px;
            height: 400px;
        }
        .chart-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .no-data {
            color: #999;
            font-style: italic;
        }
        .highest-score {
            background-color: #d4edda;
            font-weight: bold;
        }
    </style>

    <div class="container-fluid">
        {% if units_data %}
            <h2 class="mb-4">班级任务统计 — {{ class_instance }}</h2>
        {% else %}
            <h2 class="mb-4">暂无任务记录</h2>
        {% endif %}

        <!-- 筛选条件 -->
        <div>
            <label for="category-filter">筛选类别:</label>
            <select id="category-filter" class="form-control">
                <option value="">所有类别</option>
                {% for key, value in categories.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- 表格容器 -->
        <table class="table table-bordered table-striped table-hover" id="assignment-table">
            <thead class="table-light">
                <tr>
                    <th>No.</th>
                    <th>单元</th>
                    <th>任务类型</th>
                    <th>开放周次</th>
                    <th>截止时间</th>
                    <th>完成人数</th>
                    <th>成绩统计</th>
                    <th>作答统计</th>
                </tr>
            </thead>
            <tbody>
                {% for data in units_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.unit.title }}</td>
                        <td>{{ data.unit.type }}</td>
                        <td>
                            {% if data.unit.type == "quiz" %}
                                Week {{ data.week }}
                            {% elif data.unit.type == "exam" %}
                                ————
                            {% else %}
                                Week {{ data.unit.order }}
                            {% endif %}
                        </td>
                        <td>{{ data.unit_time_data }}</td>
                        <td><a href="#" class="completed_percentage" data-unit-id="{{ data.unit.id }}">{{ data.completed_count }} / {{ data.total_count }}</a></td>
                        <td>
                            <a href="#" class="score_statistic_button btn btn-info btn-sm" data-unit-id="{{ data.unit.id }}">查看详情</a>
                        </td>
                        <td>
                            <a href="{% url 'Query:unit_statistic' data.unit.id class_instance.id %}" class="btn btn-info btn-sm">查看详情</a>
                        </td>
                    </tr>
                    <tr class="uncompleted_students_info" data-unit-id="{{ data.unit.id }}" style="display: none;">
                        <td colspan="8">
                            <button class="close-detail" type="button" style="float: right; margin-bottom: 10px;">关闭</button>
                            <p>
                                <strong>未完成作业的学生：</strong>
                                <a href="{% url 'Query:statistic_announce' class_instance.id %}?students={{ data.uncompleted_students_json }}" class="btn btn-warning btn-sm">前往通知</a>
                            </p>
                            <!-- 展示未完成作业的学生 -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in data.uncompleted_students_info %}
                                        <tr>
                                            <td>{{ student.username }}</td>
                                            <td>{{ student.name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr class="score_statistic" data-unit-id="{{ data.unit.id }}" style="display: none;">
                        <td colspan="8">
                            <button class="close-detail" type="button" style="float: right; margin-bottom: 10px;">关闭</button>
                            <p>
                                <strong>学生成绩统计：</strong>
                                <a href="#" class="btn btn-warning btn-sm batch-update-latescore">统一修改逾期分</a>
                            </p>
                            <!-- 展示学生成绩 -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        {% for page in data.score_statistic.0.page_score %}
                                            <th>页面{{ forloop.counter }}</th>
                                        {% endfor %}
                                        <th>总成绩</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in data.score_statistic %}
                                        <tr>
                                            <td><a href="{% url 'Query:assignment_unit' record.user.id %}">{{ record.user.username }}</a></td>
                                            <td>{{ record.user.name }}</td>
                                            {% for page in record.page_score %}
                                                {% if page.page_record.page_score == data.page_highest_scores|get_item:page.page %}
                                                    <td class="highest-score">{{ page.page_record.page_score }}(*{{ page.page_record.late_score }})</td>
                                                {% else %}
                                                    <td>{{ page.page_record.page_score }}(*{{ page.page_record.late_score }})</td>
                                                {% endif %}
                                            {% endfor %}
                                            {% if record.unit_score == data.highest_unit_score %}
                                                <td class="highest-score">{{ record.unit_score }}</td>
                                            {% else %}
                                                <td>{{ record.unit_score }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- 统一修改逾期分的模态窗口 -->
        <div id="late-score-modal" style="display:none;">
            <form id="late-score-form">
                <h4>统一修改逾期分</h4>
                <label for="late-score">新逾期分:</label>
                <input type="number" id="late-score" name="late_score" step="0.1" min="0" max="1" value="1" required>
                <button type="submit" class="btn btn-success">提交</button>
                <button type="button" class="btn btn-secondary" onclick="closeModal()">取消</button>
            </form>
        </div>


        <!-- 分页控件 -->
        <div class="pagination">
            <ul class="pagination">
                {% if units_data.has_previous %}
                    <li><a href="?page=1">&laquo; 第一页</a></li>
                    <li><a href="?page={{ units_data.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo; 第一页</span></li>
                    <li class="disabled"><span>上一页</span></li>
                {% endif %}

                <li class="disabled"><span>第 {{ units_data.number }} 页</span></li>

                {% if units_data.has_next %}
                    <li><a href="?page={{ units_data.next_page_number }}">下一页</a></li>
                    <li><a href="?page={{ units_data.paginator.num_pages }}">最后一页 &raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>下一页</span></li>
                    <li class="disabled"><span>最后一页 &raquo;</span></li>
                {% endif %}
            </ul>
        </div>


        <!-- 成绩分布图表 -->
        {% if units_data %}
            <h3 style="text-align:center;">单元成绩区间分布
                <button id="export-pdf" class="btn btn-warning">导出为 PDF</button>
            </h3>
        {% endif %}


        {% for unit_data in units_data %}
            {% if unit_data.unit_record.exists %}
                <div class="chart-container">
                    <div class="chart-title">
                        {{ unit_data.unit.title }} - 类型: {{ unit_data.unit.type }}
                    </div>
    {#                {% if unit_data.unit_record.exists %}#}
                        <canvas id="chart-{{ unit_data.unit.id }}" width="400" height="200"></canvas>
                        <script>
                            // 使用立即执行函数 (IIFE) 限定作用域
                            (function() {
                                // 获取当前单元的成绩分布数据
                                const labels = {{ unit_data.score_distribution.labels|safe }};
                                const data = {{ unit_data.score_distribution.data|safe }};

                                // 渲染柱状图
                                const ctx = document.getElementById('chart-{{ unit_data.unit.id }}').getContext('2d');
                                new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: '学生成绩分布',
                                            data: data,
                                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                            borderColor: 'rgba(54, 162, 235, 1)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    display: true,
                                                    text: '人数'
                                                },
                                                ticks: {
                                                    stepSize: 5,
                                                    max: Math.max(...data)  // 设置最大值为数据最大值的下一个 5 的倍数
                                                }
                                            },
                                            x: {
                                                title: {
                                                    display: true,
                                                    text: '成绩区间'
                                                }
                                            }
                                        }
                                    }
                                });
                            })();  // 立即执行函数
                        </script>
                </div>
            {% else %}
                <div style="margin-bottom: 20px;">
                    <div class="chart-title">
                        {{ unit_data.unit.title }} - 类型: {{ unit_data.unit.type }}
                    </div>
                    <div class="no-data">暂无成绩数据</div>
                </div>
            {% endif %}
        {% endfor %}


    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            // 筛选categories
            const categoryFilter = document.getElementById('category-filter');
            const tableRows = document.querySelectorAll('#assignment-table tbody tr');
            categoryFilter.addEventListener('change', function() {
                const selectedCategory = categoryFilter.value.toLowerCase();

                // 遍历表格中的每一行，根据类别进行筛选
                tableRows.forEach(row => {
                    const categoryCell = row.querySelector('td:nth-child(3)'); // 获取类别列
                    const categoryText = categoryCell ? categoryCell.textContent.toLowerCase() : '';

                    // 如果选择了类别，且当前行的类别与所选类别匹配，则显示该行
                    if (selectedCategory === '' || categoryText.includes(selectedCategory)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });


            // 显示未完成作业的学生具体情况
            $('.completed_percentage').on('click', function(e) {
                e.preventDefault();

                // 获取当前点击的unit的 ID
                var unitId = $(this).data('unit-id');
                console.log("unitId:", unitId)

                // 找到对应的 uncompleted_students_info tr
                var detailRow = $('.uncompleted_students_info[data-unit-id="' + unitId + '"]');
                console.log("detailRow:", detailRow)

                // 切换显示/隐藏
                detailRow.toggle();

            });

            // 点击关闭按钮时
            $('.uncompleted_students_info').on('click', '.close-detail', function(e) {
                e.preventDefault();

                // 隐藏当前的tr
                $(this).closest('.uncompleted_students_info').hide();
            });


            // 显示学生成绩具体情况
            $('.score_statistic_button').on('click', function(e) {
                e.preventDefault();

                // 获取当前点击的unit的 ID
                var unitId = $(this).data('unit-id');
                console.log("unitId:", unitId)

                // 找到对应的 tr
                var detailRow = $('.score_statistic[data-unit-id="' + unitId + '"]');
                console.log("detailRow:", detailRow)

                // 切换显示/隐藏
                detailRow.toggle();

            });

            // 点击关闭按钮时
            $('.score_statistic').on('click', '.close-detail', function(e) {
                e.preventDefault();

                // 隐藏当前的tr
                $(this).closest('.score_statistic').hide();
            });



            // 把图表导出为PDF
             document.getElementById('export-pdf').addEventListener('click', function () {
                 // 确保字体加载完成
                document.fonts.ready.then(() => {
                    // 创建一个新的 jsPDF 实例
                    const doc = new jspdf.jsPDF('p', 'mm', 'a4');

                    // 设置 PDF 标题
                    {#const title = "单元成绩区间分布";#}
                    {#doc.setFontSize(18);#}
                    {#doc.text(title, 10, 20);#}

                    // 遍历每个图表容器
                    const chartContainers = document.querySelectorAll('.chart-container');
                    let offsetY = 30; // 初始 Y 轴偏移量
                    const pageHeight = 277; // 每页的可用高度（A4 纸高度 - 上下边距）
                    let currentPage = 0; // 当前页数

                    chartContainers.forEach((container, index) => {
                        // 将图表容器转换为图像
                        html2canvas(container).then(canvas => {
                            const imgData = canvas.toDataURL('image/png'); // 获取图像数据
                            const imgWidth = 180; // 图像宽度
                            const imgHeight = (canvas.height * imgWidth) / canvas.width; // 图像高度（按比例缩放）

                            // 检查是否需要添加新页
                            if (offsetY + imgHeight > pageHeight) {
                                doc.addPage(); // 添加新页
                                offsetY = 20; // 重置 Y 轴偏移量
                                currentPage++; // 更新当前页数
                            }

                            // 添加图像到 PDF
                            doc.addImage(imgData, 'PNG', 15, offsetY, imgWidth, imgHeight);

                            // 更新 Y 轴偏移量
                            offsetY += imgHeight + 10;

                            // 如果是最后一个图表，保存 PDF
                            if (index === chartContainers.length - 1) {
                                doc.save('单元成绩分布.pdf');
                            }
                        });
                    });
                })
            });
        });

        // 统一修改逾期分功能
        document.addEventListener('DOMContentLoaded', function() {
            // 为每个"统一修改逾期分"按钮绑定点击事件
            document.querySelectorAll('.batch-update-latescore').forEach(button => {
                button.addEventListener('click', function(e) {
                    e.preventDefault();

                    // 获取当前行的单元ID和班级ID
                    const row = this.closest('tr');
                    const unitId = row.getAttribute('data-unit-id');
                    const classId = {{ class_instance.id }};
                    console.log("unitId:", unitId)


                    // 显示模态窗口
                    document.getElementById('late-score-modal').style.display = 'block'

                    document.getElementById('late-score-form').addEventListener('submit', function(e) {
                        e.preventDefault();

                        const lateScore = document.getElementById('late-score').value;


                        // 向后端发送修改逾期分的请求
                        fetch('{% url "Query:batch_update_late_scores" %}', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({
                                unit_id: unitId,
                                late_score: lateScore,
                                class_id: classId
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('逾期分更新成功');
                                document.getElementById('late-score-modal').style.display = 'none';  // 关闭弹窗
                            } else {
                                alert('更新失败，请稍后再试' + (data.error || '未知错误'));
                            }
                        })
                        .catch(error => {
                            alert('请求失败');
                            console.error('Error:', error);
                        });
                    });
                });
            });
        });

        function closeModal() {
            // 关闭弹窗
            document.getElementById('late-score-modal').style.display = 'none';
        }

    </script>
{% endblock %}