{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>私聊</title>
        <link rel="stylesheet" href="{% static 'css/forum_student.css' %}">
</head>
<body>
 {% for post in posts %}
     <div class="card mb-3">
            <h4  class="card-title">{{ post.title }}</h4>
    <p>{{ post.content }}</p>
    <p>By: {{ post.name }}</p>
    <p>发布时间: {{ post.created_at }}</p>
    <h4>评论</h4>

    <div>

{% for comment in comments %}
     {% include 'forum/_comment.html' with comment=comment %}
{% endfor %}
    </div>
    <a href="{% url 'forum:add_comment' post.id %}">回复</a>
     {% if post.is_public %}
            <a href="{% url 'forum:change_public' post.id %}">隐藏</a>
        {% else %}
            <a href="{% url 'forum:change_public' post.id %}">公开</a>
        {% endif %}
      </div>
    {% endfor %}
<a href="{% url 'forum:forum' %}">返回论坛</a>
</body>
</html>