{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="main">
        <h1>附件下载</h1>
        <table>
            <tbody>
                <tr>
                    <th>文件</th>
                    <th>*</th>
                </tr>
                <tr>
                    <td>文件导入模板</td>
                    <td><button data-filename="模板.docx" onclick="download_file(this)">下载</button></td>
                </tr>
                <tr>
                    <td>周任务文件导入模板（分页）</td>
                    <td><button data-filename="分页模板.docx" onclick="download_file(this)">下载</button></td>
                </tr>
                <tr>
                    <td>模板说明</td>
                    <td><button data-filename="说明文件.docx" onclick="download_file(this)">下载</button></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block extra_script %}
    <script>
        function download_file(button) {
            const filename = button.getAttribute('data-filename');
            window.location.href = `/teacher/download/${encodeURIComponent(filename)}/`;
        }
    </script>
{% endblock %}
