{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>英语听力教学网站</title>#}
{#    <link rel="stylesheet" href="{% static 'css/index2.css' %}">#}
{##}
{#</head>#}
{#<body>#}
{#<script src="{% static 'js/lastActiveTime.js' %}"></script>#}
{#    <div class="container">#}
{#        <aside class="sidebar">#}
{#            <ul>#}
{#                <li><a href="{% url 'logout' %}">退出登录</a></li>#}
{#                <li><a href="{% url 'teacher_course' %}">课程</a></li>#}
{#                <li><a href="{% url 'teacher_class' %}">班级</a></li>#}
{#                <li><a href="">周任务</a></li>#}
{#                <li><a href="{% url 'teacher_question_bank' %}">题库管理</a></li>#}
{#                <li><a href="{% url 'teacher_exam_bank' %}">任务管理</a></li>#}
{#                <li><a href="{% url 'teacher_exam_management' %}">考试管理</a></li>#}
{#                <li><a href="{% url 'teacher_forum' %}">论坛管理</a></li>#}
{#                <li><a href="{% url 'announce:announcements' %}" class="btn btn-primary mb-4">公告管理</a></li>#}
{#                <li><a href="{% url 'announce:message_list' %}" class="btn btn-primary mb-4">消息箱</a></li>#}
{#                <li><a href="updating.html">updating</a></li>#}
{#            </ul>#}
{#        </aside>#}
{% extends 'base.html' %}
{% block content %}
    <main class="content">
        <h1>欢迎来到管理界面</h1>
        <p>点击左侧边栏中的栏目以进行相应操作。</p>
    </main>
{% endblock %}


{#    </div>#}
{##}
{##}
{##}
{#</body>#}
{#</html>#}
