{% extends 'base.html' %}
{% load static %}
{% load elw_custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/teacher_side/media_material_detial.css' %}">
{% endblock %}

{% block content %}
    <div class="main">

        <div class="header">
            <h1>{{ material.title }}</h1>
            <p><strong>主题:</strong> {{ material.theme }}</p>
            <p><strong>摘要:</strong> {{ material.abstract }}</p>
            <p><strong>关键词:</strong> {{ material.keywords }}</p>
            <p><strong>文本内容:</strong> {{ material.transcript }}</p>
        </div>

        <div class="details">
            <h2>关联的大题</h2>
            {% for main_question in main_questions %}
                <div class="main_question">
                    <h3>
                        {{ forloop.counter }}.
                        {{ main_question.question_text }} ({{ main_question.get_question_type_display }})
                    </h3>
                   {% with image_urls=main_question.image_url|split_image_urls %}
                       {% for url in image_urls %}
                           <img class="image" src="{{ url }}" alt="">
                       {% endfor %}
                   {% endwith %}
                    <span>{{ sub_question.question_text }}</span>
{#改错题#}
                    {% if main_question.question_type == 'correction' %}
                        <div class="correction">
                            <button onclick="edit_main_question({{ main_question.id }}, {{ material.id }})">编辑</button>
                            {% for sub_question in main_question.sub_questions.all %}
                                    {% for correction in sub_question.corrections.all %}
                                        {% if correction %}
                                            {% with words=sub_question.question_text.split %}   {# 将问题文本按空格分割成单词列表 #}
                                                {% with index=correction.index|add_one %}  {# 使用自定义过滤器计算 index+1 #}
                                                    {% if index < words|length %}  {# 如果 index 在范围内，正常截取 before 和 after #}
                                                        {% with before=words|custom_before:index after=words|custom_after:index %}
                                                            {{ before|join:" " }} __[{{ correction.type }} : {{ sub_question.answer }}]__ {{ after|join:" " }}
                                                        {% endwith %}
                                                    {% else %}  {# 如果 index 超出范围，直接将答案插入到末尾 #}
                                                        {{ words|join:" " }} __[{{ correction.type }} : {{ sub_question.answer }}]__
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
{#填空题#}
                    {% if main_question.question_type == 'blank' %}
                        <div class="blank">
                            <button onclick="edit_main_question({{ main_question.id }}, {{ material.id }})">编辑</button>
                            {% for sub_question in main_question.sub_questions.all %}
                                    {% for blank in sub_question.blanks.all %}
                                        {% if blank %}
                                            {% with words=sub_question.question_text.split %}   {# 将问题文本按空格分割成单词列表 #}
                                                {% with index=blank.index|add_one %}  {# 使用自定义过滤器计算 index+1 #}
                                                    {% if index < words|length %}  {# 如果 index 在范围内，正常截取 before 和 after #}
                                                        {% with before=words|custom_before:index after=words|custom_after:index %}
                                                            {{ before|join:" " }} __{{ sub_question.answer }}__ {{ after|join:" " }}
                                                        {% endwith %}
                                                    {% else %}  {# 如果 index 超出范围，直接将答案插入到末尾 #}
                                                        {{ words|join:" " }} __{{ sub_question.answer }}__
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- 小题展示 -->
                    {% for sub_question in main_question.sub_questions.all %}
                        {% if sub_question %}

{#改错题/填空题自定义#}
                                {% if main_question.question_type == 'correction' %}
                                {% elif main_question.question_type == 'blank' %}
                                {% else %}
{#小题题干信息#}
                                    <div class="sub_info">
                                        <h4>({{ forloop.counter }}) {{ sub_question.question_text }}
                                            {% if sub_question.score %}
                                                ({{ sub_question.score }})
                                            {% endif %}
                                        </h4>
{#小题图片#}
                                        {% if sub_question.image_url %}
                                            <div class="image">
                                                {% with image_urls=sub_question.image_url|split_image_urls %}   {# 使用自定义过滤器分割 image_url #}
                                                    {% for url in image_urls %}
                                                        <img src="{{ url }}" alt="Image {{ forloop.counter }}">
                                                    {% endfor %}
                                                {% endwith %}
                                            </div>
                                        {% endif %}
                                        <button onclick="edit_sub_question({{ sub_question.id }}, {{ material.id }})">编辑</button>
                                    </div>
{#选择题#}
                                    {% if main_question.question_type == 'choice' %}
                                        {% for choice in sub_question.options.all %}
                                            <div class="choice">
                                               {% if choice %}
                                                   <p>{{ choice.option_label }}. {{ choice.option_content }}</p>
{#选择题-选项图片#}
                                                   {% with image_urls=choice.image_url|split_image_urls %}
                                                       {% for url in image_urls %}
                                                           <img class="image" src="{{ url }}" alt="">
                                                       {% endfor %}
                                                   {% endwith %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
{#连线题#}
                                    {% if main_question.question_type == 'matching' %}
                                        {% for matchingOption in sub_question.matchingOptions.all %}
                                            {% if matchingOption %}
                                                <div class="matching">
                                                    <p>{{ matchingOption.option_label }}. {{ matchingOption.option_content }}</p>
                                                   {% with image_urls=matchingOption.image_url|split_image_urls %}
                                                       {% for url in image_urls %}
                                                           <img class="image" src="{{ url }}" alt="">
                                                       {% endfor %}
                                                   {% endwith %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
{#答案#}
                                    <div class="answer">
                                        <p class="answer">【Answer】: {{ sub_question.answer }}</p>
                                    </div>
{#提示#}
                                    {% if sub_question.tips %}
                                        <div class="tips">
                                            <p>【Tips】: {{ sub_question.tips }}</p>
                                        </div>
                                    {% endif %}
{#分析#}
                                    {% if sub_question.analysis %}
                                        <div class="analysis">
                                            <p>【Analysis】: {{ sub_question.analysis }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}

                        {% else %}
                            <div class="none">
                                <p>当前大题暂无小题</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}


{% block extra_script %}
    <script>
        // 获取 CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
{#再编辑选择题/连线题/主观题#}
        function edit_sub_question(sub_id, material_id) {
            console.log("sub_id = " + sub_id)
            console.log("material_id = " + material_id)
            const question_type = 'sub'
            fetch('/teacher/question_bank/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ sub_id:  sub_id, material_id: material_id, question_type: question_type })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // 手动跳转到重定向 URL
                    window.location.href = data.redirect_url;
                } else {
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
{#再编辑改错题/填空题#}
        function edit_main_question(main_id, material_id) {
            console.log("main_id = " + main_id)
            console.log("material_id = " + material_id)
            const question_type = 'main'
            fetch('/teacher/question_bank/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ main_id:  main_id, material_id: material_id, question_type: question_type })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // 手动跳转到重定向 URL
                    window.location.href = data.redirect_url;
                } else {
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>






{% endblock %}



























{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ material.title }}-素材详情</title>#}
{#    <link rel="stylesheet" href="{% static 'css/teacher_side/media_material_detial.css' %}">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <h1>{{ material.title }}</h1>#}
{#    <p><strong>主题:</strong> {{ material.theme }}</p>#}
{#    <p><strong>摘要:</strong> {{ material.abstract }}</p>#}
{#    <p><strong>关键词:</strong> {{ material.keywords }}</p>#}
{#    <p><strong>文本内容:</strong> {{ material.transcript }}</p>#}
{##}
{#    <h2>关联的大题</h2>#}
{#    {% for main_question in main_questions %}#}
{#        <h3>#}
{#            {{ forloop.counter }}.#}
{#            {{ main_question.question_text }} ({{ main_question.get_question_type_display }})#}
{#        </h3>#}
{#        <span>{{ sub_question.question_text }}</span>#}
{#        <!-- 小题展示 -->#}
{#        {% for sub_question in main_question.sub_questions.all %}#}
{##}
{#            {% if sub_question %}#}
{#                {% if main_question.question_type == 'correction' %}#}
{#                    {% for correction in sub_question.corrections.all %}#}
{#                        {% if correction %}#}
{#                            <span>{{ sub_question.question_text }} </span>#}
{#                            <span style="text-decoration: underline">[{{ correction.type }}: {{ sub_question.answer }}]</span>#}
{#                            <span>({{ sub_question.score }})</span>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{##}
{#                {% else %}#}
{#                    <div class="sub_question">#}
{#                        <h4>({{ forloop.counter }}) {{ sub_question.question_text }}#}
{#                            {% if sub_question.score %}#}
{#                                ({{ sub_question.score }})#}
{#                            {% endif %}#}
{#                        </h4>#}
{#                        <button onclick="edit_question({{ sub_question.id }}, {{ material.id }})">编辑</button>#}
{#                    </div>#}
{##}
{##}
{#                    {% if sub_question.image_url %}#}
{#                        <img src="{{ sub_question.image_url.url }}" alt="Image" width="50">#}
{#                    {% endif %}#}
{##}
{#选择题#}
{#                    {% if main_question.question_type == 'choice' %}#}
{#                        <div class="choice">#}
{#                            {% for choice in sub_question.options.all %}#}
{#                               {% if choice %}#}
{#                                   <p>{{ choice.option_label }}. {{ choice.option_content }}</p>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% endif %}#}
{#连线题#}
{#                    {% if main_question.question_type == 'matching' %}#}
{#                        <div class="matching">#}
{#                            {% for matchingOption in sub_question.matchingOptions.all %}#}
{#                                {% if matchingOption %}#}
{#                                	<p>{{ matchingOption.option_label }}. {{ matchingOption.option_content }}</p>#}
{##}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% endif %}#}
{##}
{#                    <p class="answer">【Answer】: {{ sub_question.answer }}</p>#}
{##}
{#                    {% if sub_question.tips %}#}
{#                        <div class="tips">#}
{#                            <p>【Tips】: {{ sub_question.tips }}</p>#}
{#                        </div>#}
{#                    {% endif %}#}
{##}
{#                    {% if sub_question.analysis %}#}
{#                        <div class="analysis">#}
{#                            <p>【Analysis】: {{ sub_question.analysis }}</p>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{##}
{##}
{#            {% else %}#}
{#                <p>当前大题暂无小题</p>#}
{#            {% endif %}#}
{##}
{##}
{##}
{#                {% empty %}#}
{##}
{#                        暂无小题#}
{##}
{#        {% endfor %}#}
{##}
{##}
{##}
{##}
{#    {% endfor %}#}
{##}
{#</div>#}
{##}
{#<script>#}
{#    function edit_question(question_id, material_id) {#}
{#        console.log("question_id = " + question_id)#}
{#        console.log("material_id = " + material_id)#}
{#        fetch('/teacher/question_bank/', {#}
{#            method: 'POST',#}
{#            headers: {#}
{#                'Content-Type': 'application/json',#}
{#                'X-CSRFToken': getCookie('csrftoken')#}
{#            },#}
{#            body: JSON.stringify({ question_id:  question_id, material_id: material_id })#}
{#        })#}
{#        .then(response => response.json())#}
{#        .then(data => {#}
{#            if (data.status === 'success') {#}
{#                // 手动跳转到重定向 URL#}
{#                window.location.href = data.redirect_url;#}
{#            } else {#}
{#                console.error('Error:', data.message);#}
{#            }#}
{#        })#}
{#        .catch(error => {#}
{#            console.error('Error:', error);#}
{#        });#}
{#    }#}
{#    // 获取 CSRF token#}
{#    function getCookie(name) {#}
{#        let cookieValue = null;#}
{#        if (document.cookie && document.cookie !== '') {#}
{#            const cookies = document.cookie.split(';');#}
{#            for (let i = 0; i < cookies.length; i++) {#}
{#                const cookie = cookies[i].trim();#}
{#                if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                    break;#}
{#                }#}
{#            }#}
{#        }#}
{#        return cookieValue;#}
{#    }#}
{#</script>#}
{#</body>#}
{#</html>#}