{% load static %}
{% load elw_custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/teacher_side/page_create.css' %}">
    <style>
        .preview_page{
            border: 1px solid black;
        }
    </style>
</head>
<body>

<form method="post" id="question_form">
    <div class="container">

{#页面展示#}
        <div class="left-content">
            <h1>组卷 - {{ material.title }}</h1>

                {% csrf_token %}
                <input type="text" id="pre_selected_questions" name="pre_selected_questions" hidden>

                <h2>选择题目</h2>
                {% for main_question in main_questions %}
                    <div>
                {#        <input type="checkbox" id="main_{{ main_question.id }}" name="questions" value="main_{{ main_question.id }}">#}
                {#        <label for="main_{{ main_question.id }}">{{ main_question.question_text }}</label>#}
{#如果是改错题，只允许选择一整道大题#}
                        {% if main_question.question_type == 'correction' %}
                            <p>{{ forloop.counter }}. {{ main_question.question_text }}</p>
                            <input type="checkbox" id="main_{{ main_question.id }}" name="questions" value="main_{{ main_question.id }}">
                            <label for="main_{{ main_question.id }}">
                                {% for sub_question in main_question.sub_questions.all %}
                                    {% for correction in sub_question.corrections.all %}
                                        {% if correction %}
                                            <span>{{ sub_question.question_text }} </span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </label>
{#如果是填空题，只允许选择一整道大题#}
                        {% elif main_question.question_type == 'blank' %}
                            <p>{{ forloop.counter }}. {{ main_question.question_text }}</p>
                            <input type="checkbox" id="main_{{ main_question.id }}" name="questions" value="main_{{ main_question.id }}">
                            <label for="main_{{ main_question.id }}">
                                {% for sub_question in main_question.sub_questions.all %}
                                    {% for blank in sub_question.blanks.all %}
                                        {% if blank %}
                                            {% with words=sub_question.question_text.split %}   {# 将问题文本按空格分割成单词列表 #}
                                                {% with index=blank.index|add_one %}  {# 使用自定义过滤器计算 index+1 #}
                                                    {% if index < words|length %}  {# 如果 index 在范围内，正常截取 before 和 after #}
                                                        {% with before=words|custom_before:index after=words|custom_after:index %}
                                                            {{ before|join:" " }} ___ {{ after|join:" " }}
                                                        {% endwith %}
                                                    {% else %}  {# 如果 index 超出范围，直接将答案插入到末尾 #}
                                                        {{ words|join:" " }} ___
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </label>
{#选择题/连线题/主观题#}
                        {% else %}

                            <p>{{ forloop.counter }}. {{ main_question.question_text }}</p>
                            {% for sub_question in main_question.sub_questions.all %}
                                {% if sub_question %}
                                    <div class="subQuestion">
                                        <input type="checkbox" id="sub_{{ sub_question.id }}" name="questions" value='sub_{{ sub_question.id }}'>
                                        <label for="sub_{{ sub_question.id }}">
                                            ({{ forloop.counter }}) {{ sub_question.question_text }} ({{ sub_question.score }})

                                            {#选择题#}
                                            {% if main_question.question_type == 'choice' %}
                                                <div class="choice">
                                                    {% for choice in sub_question.options.all %}
                                                       {% if choice %}
                                                           <p>{{ choice.option_label }}. {{ choice.option_content }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                        {#连线题#}
                                            {% if main_question.question_type == 'matching' %}
                                                <div class="matching">
                                                    {% for matchingOption in sub_question.matchingOptions.all %}
                                                        {% if matchingOption %}
                                                            <p>{{ matchingOption.option_label }}. {{ matchingOption.option_content }}</p>

                                                        {% endif %}
                                                    {% endfor %}
                                                </div>

                                            {% endif %}

                                        </label>

                                    </div>
                                {% else %}
                                    <p>No sub_questions.</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}


            <div class="paper_page_info">
                <p style="color: red"><------------------------------------------------------------页面信息------------------------------------------------------------></p>
                <p>默认页面无时长限制且允许返回修改答案！</p>
                <input type="checkbox" name="can_modify" id="can_modify" value="true">
                <label for="can_modify">是否允许返回页面修改答案</label>
                <label for="limited_time">页面时长限制： </label>
                <input type="time" name="limited_time" id="limited_time"><span>（小时：分钟）</span>
            </div>
            <button type="submit" name="add_page">添加页面</button>

        </div>





{#组卷预览页面#}
        <div class="right-content">

            <h1>组卷-页面预览</h1>
            {% for preview_page in preview_pages %}
                {% if preview_page %}
                    <div class="preview_page" id="{{ forloop.counter0 }}">

                    <h3>页面{{ forloop.counter }}</h3>
                    <button onclick="removeDiv({{ forloop.counter0 }})">删除页面</button>
                    {% for question in preview_page %}
                        <h4>{{ forloop.counter }}. {{ question.main_question.question_text }}</h4>
{#改错题预览#}
                        {% if question.main_question.question_type == 'correction' %}
                            {% for sub_question in question.main_question.sub_questions.all %}
                                    {% for correction in sub_question.corrections.all %}
                                        {% if correction %}
                                            <span>{{ sub_question.question_text }} </span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
{#填空题预览#}
                        {% elif question.main_question.question_type == 'blank' %}
                            {% for sub_question in question.main_question.sub_questions.all %}
                                {% for blank in sub_question.blanks.all %}
                                    {% if blank %}
                                        {% with words=sub_question.question_text.split %}   {# 将问题文本按空格分割成单词列表 #}
                                            {% with index=blank.index|add_one %}  {# 使用自定义过滤器计算 index+1 #}
                                                {% if index < words|length %}  {# 如果 index 在范围内，正常截取 before 和 after #}
                                                    {% with before=words|custom_before:index after=words|custom_after:index %}
                                                        {{ before|join:" " }} ___ {{ after|join:" " }}
                                                    {% endwith %}
                                                {% else %}  {# 如果 index 超出范围，直接将答案插入到末尾 #}
                                                    {{ words|join:" " }} ___
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}
                            {% else %}
                                {% for sub_question in question.sub_questions %}
                                    {% if sub_question %}
                                        <p>({{ forloop.counter }}) {{ sub_question.question_text }}({{ sub_question.score }})</p>
                                        {% if question.main_question.question_type == 'choice' %}
                                            {% for option in sub_question.options.all %}
                                                {% if option %}
                                                    <p>{{ option.option_label }}. {{ option.option_content }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif question.main_question.question_type == 'matching' %}
                                            {% for matching_option in sub_question.matchingOptions.all %}
                                                {% if matching_option %}
                                                    <p>{{ matching_option.option_label }}. {{ matching_option.option_content }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}



                                    {% endif %}
                                {% endfor %}
                        {% endif %}

                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>

{#        <button type="submit" name="preview">预览组卷</button>#}


    </div>
</form>

<form method="post" id="submit_form" action="{% url 'teacher_page_save' material.id %}">
    {% csrf_token %}
    <input type="text" id="preview_datas" name="preview_datas" value="test" hidden>
    <button type="submit">确认组卷</button>
</form>

<script>
    {% if pre_selected_questions %}
        const pre_selected_questions = {{ pre_selected_questions|safe }}
        console.log('pre_selected_questions: ', pre_selected_questions)

        document.getElementById('question_form').addEventListener('submit', function (event) {
            console.log('click "submit". ')
            try{
                console.log('json: ', JSON.stringify(pre_selected_questions))
                document.getElementById('pre_selected_questions').value=JSON.stringify(pre_selected_questions);
                console.log(document.getElementById('pre_selected_questions').value)
            }catch (error){
                console.log(error)
                {#event.preventDefault();#}
            }
        });
        document.getElementById('submit_form').addEventListener('submit', function (event) {
            console.log('click save.')
            try{
                document.getElementById('preview_datas').value=JSON.stringify(pre_selected_questions);
            }catch(error){
                console.log(error)
                event.preventDefault(); //阻止表单提交
            }
        });
        function removeDiv(id){
            const divToRemove = document.getElementById(id);
            if (divToRemove){
                console.log('before: ', pre_selected_questions)
                pre_selected_questions.splice(parseInt(id), 1)
                divToRemove.remove()
                console.log('after: ', pre_selected_questions)
            }
        }
    {% endif %}

</script>
</body>
</html>