<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comprehension</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>大题</legend>
        <p>
            <label for="question_type">题目类型:</label>
            <select id="question_type" name="question_type">
                <option value="choice">Choice</option>
                <option value="correction">Correction</option>
                <option value="matching">Matching</option>
                <option value="comprehension">Comprehension</option>
                <option value="others" selected>Others</option>
            </select>
        </p>
        <p>大题题干：</p><br>
        <textarea name="MainQuestion" id="MainQuestion" cols="30" rows="10"></textarea>
    </fieldset>
    <fieldset>
        <legend>小题</legend>
        <textarea name="SubQuestion" id="SubQuestion" cols="100" rows="30"></textarea>
    </fieldset>
    <button type="submit">保存</button>
</form>
</body>
</html>