{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task_package_add</title>
    <link rel="stylesheet" href="{% static 'css/teacher_side/task_package_add.css'%}">
</head>
<body>

    <div class="main">
        <form method="post" action="/teacher/task_package_add/" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <input type="file" name="media_file" accept=".mp3,.mp4,.avi,.wav,.mov,.ogg,.webm,audio/*" required>
        <input type="file" name="image_file" accept="image/*" multiple>
        <div>
            <label for="title">Title: </label>
            <input type="text" name="title" id="title">
            <label for="theme">Theme: </label>
            <input type="text" name="theme" id="theme">
            <label for="abstract">Abstract: </label>
            <input type="text" name="abstract" id="abstract">
            <label for="keywords">Keywords: </label>
            <input type="text" name="keywords" id="keywords">
            <label for="transcript">Transcript: </label>
            <textarea name="transcript" id="transcript" cols="100" rows="10"></textarea>
        </div>
        <button type="submit">Add</button>
    </form>

    </div>
</body>
</html>