{% load static %}
{% load elw_custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/teacher_side/page_create.css' %}">
    <style>
        .preview_page{
            border: 1px solid black;
        }
    </style>
</head>
<body>

<form action="post" id="question_form">
    <div class="container">
        <div class="left-content">
            <h1>组卷 - {{ material.title }}</h1>
            {% csrf_token %}
            <h2>选择题目</h2>
            {% for main_question in main_questions %}
                {{ main_question }}
            {% endfor %}
        </div>
        <div class="right-content">

        </div>
    </div>
</form>


</body>