

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #2b7db6;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.sidebar a:hover {
    background-color: #555;
    border-left: 5px solid #ff6347;
    padding-left: 15px;
}

.content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
}
