body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
 
/* Header Styling */
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #333;
}
 
/* Label and Input Styling */
.username, .password, .role {
    margin-bottom: 15px;
    text-align: left;
}
 
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
 
input[type="text"], input[type="password"] {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
 
/* Radio Button Styling */
.role input[type="radio"] {
    margin-right: 5px;
}
 
.role label {
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
}
 
/* Error Message Styling */
.error_message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}
 
/* Submit Button Styling */
.submit {
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.submit:hover {
    background-color: #0056b3;
}