{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英语听力教学网站</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/query_styles.css' %}">


</head>
<body>
    <!-- 顶部导航栏 -->
    <header>
        <div class="navbar navbar-default navbar-static-top" style="background-color: #ffffff;">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" id="home" href="/teacher/index">返回主页</a>
                </div>
            </div>
        </div>
    </header>

    <!-- 主体布局 -->
    <div class="container-fluid base-container">
        <!-- 左侧导航栏 -->
        <nav id="sidebar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item" id="attendance">
                    <a class="nav-link" href="{% url 'Query:attendance_query' %}">考勤管理</a>
                </li>
                <li class="nav-item" id="schedule_adjustment">
                    <a class="nav-link" href="{% url 'Query:adjust_schedule' %}">调课补课管理</a>
                </li>
                <li class="nav-item" id="learning_record">
                    <a class="nav-link" href="{% url 'Query:student_learning_search' %}">学习记录管理</a>
                </li>
                <li class="nav-item" id="statistics_analysis">
                    <a class="nav-link" href="{% url 'Query:class_statistic_search' %}">数据统计分析</a>
                </li>
                <li class="nav-item" id="overdue_rules">
                    <a class="nav-link" href="{% url 'Query:overdue_rules_lists' %}">逾期扣分规则</a>
                </li>
            </ul>
        </nav>

        <!-- 右侧主内容区域 -->
        <main class="col-sm-9 col-md-10 main" id="content-panel">
            <div class="panel-body" id="main-content">
                {% block content %}
                <!-- 子模板的内容会插入到这里 -->
                {% endblock %}
            </div>
        </main>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
