{% extends 'query_base.html' %}

{% block content %}
    <h2>编辑逾期扣分规则: {{ rule.rule_name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h3>逾期时间段设置</h3>
        {{ formset.management_form }}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>时间段名称</th>
                    <th>最小天数</th>
                    <th>最大天数</th>
                    <th>扣分比例</th>
                    <th>描述</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr class="period-form">
                    {{ form.id }}
                    <td>{{ form.period_name }}</td>
                    <td>{{ form.min_days }}</td>
                    <td>{{ form.max_days }}</td>
                    <td>{{ form.deduction_rate }}</td>
                    <td>{{ form.description }}</td>
                    <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">确认修改</button>
        <a href="{% url 'Query:overdue_rules_lists' %}" class="btn btn-danger">取消</a>
    </form>
{% endblock %}