{% extends "admin/change_list.html" %}

{% block content %}
    <style>
       .batch_input {
            margin-left: 50px;
            margin-bottom: 10px;
        }
       .download-template a {
           background-color: #ffffff;
       }
       .download-template a:hover {
           background-color: #ffffff;
           text-decoration: underline;
       }
    </style>

    <div class="batch_input">
        <div class="download-template">
            <h2>下载导入模板</h2>
            <a href="{% url 'admin:download_student_template' %}" class="button">students导入模板.xlsx</a>
        </div>
        <h2>导入学生账号</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'admin:import_students' %}">
            {% csrf_token %}
            <label for="xlsx_file">选择 XLSX 文件：</label>
            <input type="file" name="xlsx_file" id="xlsx_file" required>
            <button type="submit">上传并导入</button>
        </form>
    </div>



    <hr>

    <!-- 显示学生列表 -->
    {{ block.super }}
{% endblock %}