/* 顶部导航栏 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* 隐藏导航栏的按钮 */
#toggle-btn {
    position: fixed;
    top: 2px;
    left: 10px;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1050;
}

#toggle-btn:hover {
    border-radius: 5px;
    font-weight: bold;
}

/* 包含左侧导航栏和右侧内容区的容器 */
.base-container {
    display: flex;
    height: 100vh;
    padding-top: 50px; /* 给顶部导航栏留出空间 */
}

/* 左侧导航栏 */
#sidebar {
    position: fixed;
    top: 50px; /* 顶部导航栏的高度 */
    left: 0;
    height: 100%;
    width: 230px;
    padding-top: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    transition: transform 0.3s ease;
}

#sidebar.hidden {
    transform: translateX(-230px); /* 隐藏左侧导航栏时，向左平移 */
}

.sidebar .nav-pills {
    list-style-type: none;
    padding: 10px;
}

.sidebar .nav-pills li {
    margin-bottom: 10px;
}

.sidebar .nav-pills li a {
    display: block;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.sidebar .nav-pills li a:hover {
    background-color: #007bff;
    color: white;
}

.sidebar .nav-pills li.active a {
    background-color: #007bff;
    color: white;
}



/* 右侧内容区域 */
#content-panel {
    flex-grow: 1; /* 让右侧内容区域占据剩余空间 */
    padding: 20px;
    background-color: #fff;
    transition: margin-left 0.3s ease;
    margin-left: 230px; /* 给右侧内容区留出左侧导航栏的宽度 */
}

#content-panel.shifted {
    margin-left: 0; /* 当左侧导航栏隐藏时，右侧内容区占满整个宽度 */
}


.pagination {
    margin-top: 3px;
}