{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英语听力教学网站</title>
    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
    {% block extra_css %}
    <!-- 页面特有的 CSS 文件或样式可以放在这里 -->
    {% endblock %}
</head>
<body>
    <script src="{% static 'js/lastActiveTime.js' %}"></script>
    <div class="container">
        <!-- 侧边栏 -->
        <aside class="sidebar">
            <ul>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                <li><a href="{% url 'teacher_course' %}">课程</a></li>
                <li><a href="{% url 'teacher_class' %}">班级</a></li>
                <li><a href="{% url 'teacher_week_task'%}">周任务</a></li>
                <li><a href="{% url 'teacher_question_bank' %}">题库管理</a></li>
                <li><a href="{% url 'teacher_exam_bank' %}">试卷管理</a></li>
                <li><a href="{% url 'teacher_forum' %}">论坛管理</a></li>
                <li><a href="{% url 'teacher_exam_management' %}">功能测试</a></li>
                <li><a href="{% url 'announce:announcements' %}" class="btn btn-primary mb-4">公告管理</a></li>
                <li><a href="{% url 'announce:message_list' %}" class="btn btn-primary mb-4">消息箱</a></li>
                <li><a href="{% url 'Query:query' %}" class="btn btn-primary mb-4">检索面板</a></li>
                <li><a href="updating.html">updating</a></li>
            </ul>
        </aside>

        <!-- 内容区域 -->
        <main class="content">
            {% block content %}
            <!-- 其他页面的内容会插入到这里 -->
            {% endblock %}
        </main>
    </div>

{% block extra_script %}

{% endblock %}

</body>
</html>